:root {
  --main-font: font-family: 'Roboto', sans-serif;
  --secondery-font: font-family: 'Raleway', sans-serif;
  --main-color: #212121;
  --second-color: #757575;
  --color-blue: #2196F3;
  --color-background: #2F303A;
  --color-white: #FFF;
  --color-icon: #AFB1B8;
  --color-backdroud-second: #F5F4FA;
}

body {
  font-family: 'Roboto';
  color: var(--main-color);
}

.hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6, ul, ol, figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p,
figure {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn--border-solid {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn--border-radius-little {
  border-radius: 4px;
}

.btn--border-radius-circle {
  border-radius: 50%;
}

.btn--box-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn--background-color-blue {
  background: var(--color-blue);
}

.btn--background-color-white {
  background-color: var(--color-white);
}

.btn--color-white {
  color: var(--color-white);
}

.btn--size-thirty-by-thirty {
  width: 30px;
  height: 30px;
}

.btn--size-wszystkie {
  width: 103px;
  height: 38px;
}

.btn--size-strony {
  width: 128px;
  height: 38px;
}

.btn--size-aplikacje {
  width: 145px;
  height: 38px;
}

.btn--size-dizajn {
  width: 103px;
  height: 38px;
}

.btn--size-marketing {
  width: 128px;
  height: 38px;
}

.btn--size-square-eighteen {
  width: 11px;
  height: 11px;
}

.btn--font-small {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
}

.portfolio-btns__btn {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btns__btn:hover, .portfolio-btns__btn:focus {
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn--size-wszystkie {
    width: 140px;
    height: 38px;
  }
  .btn--size-strony {
    width: 128px;
    height: 38px;
  }
  .btn--size-aplikacje {
    width: 145px;
    height: 38px;
  }
  .btn--size-dizajn {
    width: 103px;
    height: 38px;
  }
  .btn--size-marketing {
    width: 130px;
    height: 38px;
  }
}

@media screen and (min-width: 1200px) {
  .btn--size-wszystkie {
    width: 121px;
    height: 38px;
  }
  .btn--size-strony {
    width: 93px;
    height: 38px;
  }
  .btn--size-aplikacje {
    width: 114px;
    height: 38px;
  }
  .btn--size-dizajn {
    width: 91px;
    height: 38px;
  }
  .btn--size-marketing {
    width: 121px;
    height: 38px;
  }
}

.customers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}

.customers__item {
  flex-basis: calc((100% - 30px) / 2);
  height: 92px;
  width: 100%;
}

.customers__link {
  align-items: center;
  justify-content: center;
  display: flex;
  fill: var(--color-icon);
  border: 1px solid var(--color-icon);
  box-sizing: border-box;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover, .customers__link:focus {
  fill: var(--color-blue);
  border: 1px solid var(--color-blue);
}

.customers__logo {
  width: 106px;
  height: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
  }
  .customers__item {
    flex-basis: calc((100% - 60px) / 3);
    width: 100%;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .customers__link {
    width: 170px;
    height: 92px;
  }
}

.discription {
  display: block;
  padding-top: 60px;
  padding-bottom: 30px;
}

.discription__item:not(:last-child) {
  margin-bottom: 30px;
}

.discription__icon {
  width: 100%;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}

.discription__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.discription__text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  display: block;
}

.discription__text--color-grey {
  color: var(--second-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .discription {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
  }
  .discription__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .discription__icon {
    width: 100%;
    background: #F5F4FA;
    border-radius: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .discription {
    display: flex;
  }
  .discription__icon {
    max-width: 270px;
    width: 100%;
  }
  .discription__item--margin-right:not(:last-child) {
    margin-right: 30px;
  }
}

.footer {
  background-color: var(--color-background);
}

.footer__wrap {
  display: block;
  text-align: center;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.footer__title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__link {
  width: 264px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.footer-social {
  margin-left: 70px;
  margin-right: 79px;
}

.footer-newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-newsletter__lable {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  /* flex-direction: row; */
}

.footer-newsletter__icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  fill: var(--color-white);
}

.footer-newsletter__input {
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-background);
  padding: 15px 16px;
  color: var(--color-white);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer__title--margin-top {
    margin-top: 5px;
  }
  .footer__btn {
    margin-top: 20px;
  }
  .footer-address__link {
    text-align: center;
  }
  .footer-address__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-information {
    margin-right: 144px;
  }
  .footer-newsletter {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-newsletter__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-newsletter__lable {
    min-width: 450px;
  }
  .footer-newsletter__input {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrap {
    display: flex;
    text-align: left;
  }
  .footer__link {
    display: block;
  }
  .footer-address__link {
    text-align: left;
  }
  .footer__title {
    text-align: left;
    margin-top: 12px;
    margin-bottom: 20px;
  }
  .footer__btn {
    width: 250px;
    margin-left: 12px;
  }
  .footer-newsletter__form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer-newsletter__lable {
    padding-bottom: 0;
  }
}

.policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.policy__text {
  cursor: pointer;
}

.policy__text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  padding-right: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
  transition: opacity 150000ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.policy__checkbox:checked + .policy__text::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.form__text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color);
  margin-bottom: 4px;
}

.form__lable {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__textare {
  padding: 12px 16px 12px 16px;
  outline: none;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  height: 120px;
  outline: none;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border: 1px solid #2196F3;
}

.form__input--size-long-rectangle {
  width: 100%;
  height: 40px;
}

.form__input--display {
  display: flex;
  resize: none;
}

.form__input--padding-right {
  padding: 12px 12px 12px 42px;
}

.form__input--padding-center {
  padding: 12px 16px;
}

.form__wrap {
  position: relative;
}

.form__policy {
  padding-top: 20px;
  justify-content: center;
  display: flex;
  min-width: 448px;
}

.form__wrap > .form__icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  background-color: #FFFFFF;
  fill: var(--color-black);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon {
  fill: var(--color-blue);
}

/*============ POLICY =========================*/
.header-address {
  display: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-address {
    display: flex;
  }
  .header-address__list {
    display: flex;
    flex-direction: column;
  }
  .header-address__item:first-child {
    margin-bottom: 10px;
  }
  .header-address__link {
    min-width: 138px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-address {
    display: block;
    padding-left: 93px;
    margin-right: 12px;
  }
  .header-address__link {
    min-width: 110px;
    display: flex;
    align-items: center;
  }
  .header-address__list {
    display: flex;
  }
  .header-address__item:first-child {
    margin-right: 50px;
  }
}

.header-navigation {
  display: flex;
}

.header-navigation__item {
  position: relative;
}

.header-navigation__item:not(:last-child) {
  margin-right: 46px;
}

.header-navigation__item--activ::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--color-blue);
  border-radius: 2px;
}

/*=================== ICON =======================*/
/*=================== HEADRR ICON ================*/
.header-address__icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
}

.header-address__envelope {
  width: 16px;
  height: 12px;
}

.header-address__phone {
  width: 12px;
  height: 16px;
}

/*========== END HEADRR ICON ==========*/
/*============ SOCIAL ICON =============*/
.social-icon {
  display: flex;
  justify-content: center;
}

.social-icon__icon {
  width: 20px;
  height: 20px;
}

.social-icon__item:not(:last-child) {
  margin-right: 10px;
}

.social-icon__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*============ END SOCIAL ICON =============*/
  /*=========== ICON SOCIAL TEAM ============ */
  /*=========== END ICON SOCIAL TEAM ============ */
  /*=========== ICON SOCIAL FOOTER ============ */
}

.social-icon__link--fill-grey {
  fill: var(--color-icon);
}

.social-icon__link--fill-with {
  fill: var(--color-white);
}

.social-icon__link--action-color-blue:hover, .social-icon__link--action-color-blue:focus {
  fill: var(--color-white);
  background-color: var(--color-blue);
}

.social-icon__link--background-color-dark {
  background-color: #ffffff10;
}

.social-icon__link--background-color-dark--background-color-dark:hover, .social-icon__link--background-color-dark--background-color-dark:focus {
  background-color: var(--color-blue);
}

.exit-icon {
  width: 11px;
  height: 11px;
}

/*=========== END ICON SOCIAL FOOTER ============ */
/*============================ END ICON =======================*/
.link {
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.link--style-underline {
  text-decoration: underline;
}

.link--font-size-medium {
  font-size: 18px;
  line-height: 1.222;
}

.link--font-size-xm {
  font-size: 24px;
  line-height: 1.166;
}

.link--font-size-big {
  font-size: 34px;
  line-height: 1.176;
}

.link--font-size-junbo {
  font-size: 40px;
  line-height: 1.175;
}

.link--action-color-blue:hover, .link--action-color-blue:focus {
  color: var(--color-blue);
}

.link--color-beige {
  color: #ffffff60;
}

.link--color-grey {
  color: var(--second-color);
}

.link--color-black {
  color: var(--main-color);
}

.link--color-white {
  color: var(--color-white);
}

.link--color-blue {
  color: var(--color-blue);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .link--font-smal {
    font-size: 12px;
    line-height: 1.166;
  }
}

.logo {
  font-family: 'Raleway';
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo--color-blue {
  color: var(--color-blue);
}

.logo__span--color-black {
  color: var(--main-color);
}

.logo__span--color-white {
  color: var(--color-white);
}

.modal {
  position: relative;
  width: 450px;
  height: 609px;
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: auto;
  /* position: absolute; */
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.section-order__title {
  display: flex;
  max-width: 465px;
  width: 100%;
  font-weight: 900;
  font-size: 26px;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

.section-order__title--position-center {
  margin-left: auto;
  margin-right: auto;
}

.section-order--background-anthracite {
  background-color: var(--color-background);
}

.section-order--background-photo {
  width: 100%;
  height: 400px;
  display: block;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/orders-bg/orders-bg-mobile-@1x-480x400.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-order--background-photo {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/orders-bg/orders-bg-mobile-@2x-960x800.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-order--background-photo {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/orders-bg/orders-bg-tablet-@1-768x400.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .section-order--background-photo {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/orders-bg/orders-bg-tablet-@2x-1536x800.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section-order__title {
    max-width: 696px;
    font-size: 44px;
    font-size: 44px;
    line-height: 1.363;
  }
  .section-order--background-photo {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/orders-bg/orders-bg-@1-1600x600.jpg");
  }
}

@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-order--background-photo {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/orders-bg/orders-bg-@2x-3200x1200.jpg");
  }
}

.policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.policy__text {
  cursor: pointer;
}

.policy__text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  padding-right: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
  transition: opacity 150000ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.policy__checkbox:checked + .policy__text::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.portfolio-category {
  cursor: pointer;
  flex-wrap: nowrap;
}

.portfolio-category__item {
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-category__item:hover, .portfolio-category__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-category__image {
  width: 100%;
}

.portfolio-category__item:hover .portfolio-category__overlay {
  transform: translatey(0);
}

.portfolio-category__figcaption {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.portfolio-category__box {
  position: relative;
  overflow: hidden;
}

.portfolio-category__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  padding: 49px 45px 49px 24px;
  color: #FFFFFF;
}

.portfolio-category__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-black);
}

.portfolio-category__name {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-category {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  .portfolio-category__item {
    flex-basis: calc(50% - 30px);
    margin-right: 30px;
  }
  .portfolio-category__image {
    width: 100%;
  }
  .portfolio-category__figrure {
    min-height: 100%;
  }
  .portfolio-category__figcaption {
    min-height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-category {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 0;
  }
  .portfolio-category__item {
    flex-basis: auto;
    max-width: 370px;
  }
  .portfolio-category__figcaption {
    max-width: 370px;
  }
}

.team__figcaption {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__item {
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  margin-bottom: 30px;
}

.team__name {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--color-black);
}

.team__position {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.team__image {
  width: 100%;
  display: block;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team {
    display: block;
    justify-content: center;
  }
  .team__item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
  }
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: flex;
    justify-content: space-between;
  }
  .team__item {
    width: 270px;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.what-we-do {
  display: flex;
  justify-content: space-between;
}

.what-we-do__item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do__item {
  position: relative;
}

.what-we-do__item > .what-we-do__lable {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.what-we-do__lable {
  color: var(--color-white);
  background-color: #2F303A80;
}

.hamburger {
  margin-left: auto;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.hamburger:focus > .hamburger__container {
  box-shadow: 0 0 2px 2px #51a7e8;
}

.hamburger, .hamburger__container {
  justify-content: center;
  align-items: center;
}

.hamburger:focus, .hamburger__container:focus {
  outline: none;
}

.hamburger__container {
  display: flex;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
}

.hamburger__bars {
  position: absolute;
  width: 24px;
  height: 2.67px;
  background-color: #000;
  transition: transform 220ms ease-in-out;
}

.hamburger__bars::before, .hamburger__bars::after {
  display: block;
  position: absolute;
  width: 24px;
  height: 2.67px;
  background-color: #000;
  content: '';
}

.hamburger__bars::before {
  top: -4px;
}

.hamburger__bars::after {
  bottom: -4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hamburger {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}

.mobile-social {
  margin-top: 64px;
}

.mobile-social__list {
  display: flex;
}

.mobile-social__item {
  margin-right: 20px;
  position: relative;
}

.mobile-social__item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 11px;
  right: -20px;
  display: block;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.section-mobile-menu {
  display: block;
  position: relative;
}

.section-mobile-menu .section-mobile-menu__btn-exit {
  display: flex;
  position: absolute;
  right: 25.83px;
  top: 27.5px;
  padding: 0;
  width: 11px;
  height: 11px;
  align-items: center;
  justify-content: center;
}

.mobile-address__item:first-child {
  margin-bottom: 32px;
}

.mobile-navigation__item {
  margin-bottom: 302px;
}

.mobile-navigation__item:not(:last-child) {
  margin-bottom: 36px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 32px;
  z-index: 999;
  background-color: var(--color-white);
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  overflow: hidden;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover, .menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: 2px dashed rgb(37, 190, 37); */
}

.backdrop {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.2); */
}

.header-navigation {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-navigation {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header-navigation {
    display: flex;
  }
}

.modal .modal__btn-exit {
  display: flex;
  position: absolute;
  right: 8px;
  top: 8px;
  align-items: center;
  justify-content: center;
}

.modal__btn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}

.portfolio-btns {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.portfolio-btns__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-btns {
    padding-bottom: 30px;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-btns {
    padding-bottom: 50px;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.footer__logo {
  display: block;
  padding-bottom: 20px;
}

.header__logo {
  padding-right: 93px;
}

.section__heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.section-header {
  border-bottom: 1px solid #ECECEC;
  padding: 16px 0;
}

.section-mobile-menu {
  display: block;
  padding-top: 48px;
  padding-bottom: 48px;
  position: relative;
}

.section-mobile-menu__btn-exit {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}

.section-order {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 198px;
  text-align: center;
}

.section-order__btn {
  margin-top: 30px;
}

.section-what-we-do {
  display: none;
}

.section-team--backgroud-color {
  background-color: var(--color-backdroud-second);
}

.section-team, .section-portfolio, .section-what-we-do, .section-customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-modal {
  padding: 40px;
}

.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.section-discription {
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section-mobile-menu {
    display: none;
  }
  .section-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .section-discription {
    padding-top: 60px;
    padding-bottom: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .section-order {
    height: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
  .section-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .section-discription {
    padding-top: 94px;
    padding-bottom: 0;
  }
  .section-what-we-do {
    display: block;
  }
  .section__heading {
    font-size: 36px;
    line-height: 1.166;
    margin-bottom: 50px;
  }
  .section-team, .section-portfolio, .section-what-we-do, .section-customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
/*# sourceMappingURL=main.css.map */