:root {
  --main-font: font-family: 'Roboto', sans-serif;;
  --secondery-font:font-family: 'Raleway', sans-serif;
  --main-color: #757575; 
  --color-black: #212121;
  --color-blue: #2196F3;
  --color-background: #2F303A;
  --color-white: #FFF;
}

body {
  font-family:var(--main-font);
  color:var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol{
  margin: 0;
  padding: 0;
}



p,
figure{
  margin: 0;
}

img {
display: block;
}



.list{
  list-style-type: none;
}

.link{
  text-decoration: none;
}

.container{
  width: 1200px;
  align-items: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.header .container{
display: flex;
align-items: center;
}

.navigation{
  display: flex;
}

.navigation-list{
 display: flex;
 align-items: center;
}
.header-address-list{
  display: flex;
}

.logo{
  padding: 24px 93px 25px 7.441%;
}

.navigation-list-item:not(:last-child){
  margin-right: 46px;
}

.header .header-address {
  margin-left: auto;
}

.header-tel{
  margin-left: 50px;
  margin-right: 227px;
}

.conteiner-order-title{
  width: 696px;
  height: 120px;

  display: block;
}
.contener-order .conteiner-order-list{
  height: 600px;
  display: block;
  padding-top: 200px;
  }

.conteiner-order-list{
  display: block;
}

.conteiner-order-title{
margin-left: auto;
margin-right: auto;
}

.conteiner-order-btn{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}


  
/* =====================   HEADER  ===================== */
/* ================== LOGO ================ */

.logo,
.footer-logo{
/* width: 145px;
height: 31px; */
/* left: 215px;
top: 24px; */

font-family: 'Raleway';
font-style: normal;
text-decoration: none;
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
color:var(--color-black);
}
.logo-span{
  color:var(--color-blue);
}

.footer-logo {
  color: var(--color-white)
}

/* =================== END LOGO =================== */

/* ==================== NAVIGATION =====================  */
.navigation-list-link,
.header-address-link{
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--color-black);
}

.footer-address-link:hover,
.footer-address-link:focus,
.header-address-link:hover,
.header-address-link:focus,
.navigation-list-link:hover,
.navigation-list-link:focus{
cursor:pointer;
color: var(--color-blue);
}

.header-address-link{
color: var(--main-color);
}

/* ==================== END NAVIGATION =====================  */
/* =====================  END HEADER  ===================== */

/* ======================== CONTENT MAIN ======================= */
.contener-order{
  background-color: var(--color-background);
}
.conteiner-order-title{
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;    
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  display: block;
}

.conteiner-order-btn{
  width: 200px;
  height: 50px;  
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: block;
  /* align-items: center;
  text-align: center; */
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: #FFFFFF;  
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.conteiner-order-btn:hover,
.conteiner-order-btn:focus{
cursor:pointer;
}


.article-title{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--color-black);
}

.article-text{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.03em;
display:block;
}

.agencja-main-category{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.166;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-black);
}

.person-name{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.187;
/* text-align: center; */
letter-spacing: 0.03em;
color: var(--color-black);
}

.person-position{
font-weight: 400;
font-size: 16px;
line-height: 1.187;
/* text-align: center; */
letter-spacing: 0.03em;
}
/* ======================== END CONTENT MAIN ======================= */

/* =============================== PORTFOLIO CONTENT =================== */
.list-btn-item{
font-weight: 500;
font-size: 16px;
line-height: 1.625;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.list-btn-item:hover,
.list-btn-item:focus{
cursor:pointer;

background: var(--color-blue);
color:var(--color-white);

box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.portfolio-picture-title{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--color-black);
}

.portfolio-pictue-name{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
}
/* ===========================  END PORTFOLIO CONTENT =================== */


/* ==================== FOOTER ==================== */
.footer .container{
background-color: var(--color-background);
}
.footer-address-link{
text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.03em;
color: var(--color-white);
}
.footer-address-link[href^="mail"]{
text-decoration: underline;
}
/* ==================== END FOOTER ==================== */