:root {
  --main-font: font-family: 'Roboto', sans-serif;
  ;
  --secondery-font: font-family: 'Raleway', sans-serif;
  --main-color: #757575;
  --color-black: #212121;
  --color-blue: #2196F3;
  --color-background: #2F303A;
  --color-white: #FFF;
}

body {
  font-family: 'Roboto';
  color: #757575;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p,
figure {
  margin: 0;
}

img {
  display: block;
}



.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  font-style: none;
}

.container {
  width: 1200px;
  /* align-items: center; */
  padding: 0 15px;
}

.wraper-center {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.title {
  margin-bottom: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
}


/* ============ HEDER ============== */

.header .container {
  min-width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.logo {
  padding-right: 93px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}

.header-address-list {
  display: flex;
}

.header .header-address {
  margin-left: auto;
}

.header-tel {
  margin-left: 50px;
}

.header-address .header-address-list {
  justify-content: center;
}

.icon-phon{
  width: 16px;
  height: 12px;
}
.icon-envelope{
  width: 12px;
  height: 16px;
}

.header-icon{
  margin-right: 10px;
}


.header-address-item{
  display: flex;
  align-items:center;
  justify-content: center;
}

/* =================  END HEADER  =============== */





/* ================= NAVIGATION ===============  */
.navigation-list-link,
.header-address-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--color-black);
}

.footer-address-link:hover,
.footer-address-link:focus,
.navigation-list-link:hover,
.navigation-list-link:focus {
  cursor: pointer;
  color: var(--color-blue);
}

.header-address-link:hover,
.header-address-link:focus{
    cursor: pointer;
    color: var(--color-blue);
    fill: var(--color-blue);
}

.header-address-link {
  display: flex;
  justify-content: center;
  color: var(--main-color);
  fill: var(--main-color);
}

/* ============== END NAVIGATION ==============  */




/* ===========   SECTION ORDERS =============== */
.section-orders .container {
  display: flex;
  justify-content: center;
}

.section-orders {
      background-color: var(--color-background);
      margin-bottom: 94px;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("../images/order-foto/Img.jpg");

      background-repeat: no-repeat;
      background-size: cover;
      max-width: 1600px;
      margin: auto;

}

.conteiner-order-list {
  height: 600px;
  display: flex;
  flex-direction: column;
}

.container-order-item {
  display: flex;
  justify-content: center;
}

.conteiner-order-title {
  width: 696px;
  height: 120px;
  margin-top: 200px;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

.conteiner-order-btn {
  margin-bottom: 200px;

  width: 200px;
  height: 50px;
  color: var(--color-white);
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.conteiner-order-btn:hover,
.conteiner-order-btn:focus {
  cursor: pointer;
}

/* =========== END  SECTION ORDERS =============== */






/* =============== DISCRIPTION 4X   ================ */
.article-list {
  display: flex;
}

.section-discription {
  margin-top: 94px;
  margin-bottom: 94px;
}


.section-discription-item {
  display: flex;
  flex-direction: column;
  padding: 0 auto;
}

.section-discription-item:not(:last-child){
  margin-right: 30px;
}

.article-title {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-black);
}

.article-text {
  display: flex;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  display: block;
}

/* =============== END DISCRIPTION 4X   ================ */

/* ================== WHOT WE DO ======================== */
.section-whot-we-do {
  margin-bottom: 94px;
}

.whot-we-do-picture-list {
  display: flex;
  justify-content: center;
  min-width: 1170px;
}

.whot-we-do-picture-item {
  display: flex;
}

.whot-we-do-picture-list {
  justify-content: space-between;
}

/* ================== END WHOT WE DO =================== */




/* ========================= TEM =========================*/
.tean-picture-list {
  justify-content: space-between;
  min-width: 1170px;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}


.section-team-item {
  width: 270px;
  height: 428px;

  background: var(--color-white);
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person-name {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;

  color: var(--color-black);
  font-family: 'Roboto';
}

.person-position {
  text-align: center;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;

  color: var(--main-color);
  font-family: 'Roboto';
}

.team-social-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px 30px 32px
}

.team-social-icon{

  width: 20px;
  height: 20px;
}


.social_link{
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  fill: var(--main-color);
}

.social_link:hover,
.social_link:focus {
  fill: var(--color-white);
  background-color: var(--color-blue);
}
/* ======================= END TEM =======================*/


/* ===================== CUSTOMERS =======================*/
.section-customers{
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customers_link{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 170px;
  height: 92px;
  
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
}

.customers-logo{
  width: 106px;
  height: 60px;
}

.customers_link:hover,
.customers_link:focus{
  fill: var(--color-blue);
  border: 1px solid var(--color-blue);
}



/* =================== END CUSTOMERS =====================*/

/* ======================= LOGO ======================= */

.logo,
.footer-logo {
  /* width: 145px;
height: 31px; */
  /* left: 215px;
top: 24px; */

  font-family: 'Raleway';
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--color-black);
}

.logo-span {
  color: var(--color-blue);
}

.footer-logo {
  color: var(--color-white)
}

/* =================== END LOGO =================== */



/* =============================== BUTON PORTFOLIO =================== */

.section-categories {
  margin-top: 94px;
  margin-bottom: 50px;
}

.list-btn {
  display: flex;
  justify-content: center;
}

.list-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: #212121;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  cursor: pointer;

  background: var(--color-blue);
  color: var(--color-white);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.wszystkie {
  width: 121px;
  height: 38px;
}

.strony {
  width: 93px;
  height: 38px;
}

.aplikacje {
  width: 114px;
  height: 38px;

}

.dizajn {
  width: 91px;
  height: 38px;
}

.marketing {
  width: 121px;
  height: 38px;
}

/* =============================== END BUTON PORTFOLIO =================== */




/* ================================== PHOTO PORTFOLIO =================== */

.portfolio-main{
  padding-bottom: 94px;
}

.portfolio-category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 1170px;
}

.portfolio-category-items{
  flex-basis: auto;
  border: 1px solid #eeeeee;
  margin-top: 30px;
  max-width: 370px;
}

.portfolio-category-items:hover,
.portfolio-category-items:hover{
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}


.portfolio-picture {
  border: 0px solid #eeeeee;
}

.portfolio-picture-title {
  border-top: 1px solid #eeeeee;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 24px;
  padding-top: 20px;

  color: var(--color-black);
}

.portfolio-pictue-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  padding-left: 24px;
  margin-top: 4px;
  margin-bottom: 20px;
  color: var(--text-color-grey)
}


/* =============================== END PHOTO PORTFOLIO =================== */


/* ==================== FOOTER ==================== */
.footrt-address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footrt-address-item:last-child{
  margin-bottom: 60px;
}

.footer {
  background-color: var(--color-background);
}

.footer-address-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.footer-adres{
  color:var(--color-white);
}

.footer-address-link[href^="mail"] {
  text-decoration: underline;
}

.footer .container {
  display: flex;
}

.footer-logo {
  display: flex;
  margin-top: 60px;
  margin-bottom: 20px;
}

.footer-social-list{
  display: flex;
}


.container{
  justify-content: flex-start;
}

/* ICON SOCIAL MEDIA */
.footer-social-icon{
  width: 20px;
  height: 20px;
}

.footer-social{
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 70px;
}

.footer-title-icon{
  margin-bottom: 20px;
  width: 113px;
  height: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-white);
}

.footer-social-item:not(:last-child){
  margin-right: 10px;
}

.footer-social_link{
  display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    fill: var(--color-white);   
}
.footer-social_link:hover,
.footer-social_link:focus{
  background-color: var(--color-blue);
}
/* ==================== END FOOTER ==================== */

/* .team-social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px 30px 32px
}

.team-social-icon {

  width: 20px;
  height: 20px;
}


.social_link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  fill: var(--main-color);
}

.social_link:hover,
.social_link:focus {
  fill: var(--color-white);
  background-color: var(--color-blue);
} */