.footer{
  background-color: var(--color-background);

  & .container{
    display: flex;
    min-height: 252px;
  }

  &-address--width{
    min-width: 249px;
  }

  &-social{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 70px;
  }

  &-social__list{
    display: flex;
  }

}


