
  
  .header-address-list {
    display: flex;
  }
  
  .header .header-address {
    margin-left: auto;
  }
  
  .header-tel {
    margin-left: 50px;
  }
  
  .header-address .header-address-list {
    justify-content: center;
  }
  
  .icon-phon{
    width: 16px;
    height: 12px;
  }
  .icon-envelope{
    width: 12px;
    height: 16px;
  }
  
  .header-icon{
    margin-right: 10px;
  }
  
  
  .header-address-item{
    display: flex;
    align-items:center;
    justify-content: center;
  }
  
  .header-address-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--color-black);
  }
  .header-address-link {
    display: flex;
    justify-content: center;
    color: var(--main-color);
    fill: var(--main-color);
  
    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover,
  .header-address-link:focus {
    cursor: pointer;
    color: var(--color-blue);
    fill: var(--color-blue);
  }