.header .container {
    min-width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
  }

