

  .section-orders {
    background-color: var(--color-background);
    margin-bottom: 94px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url("../images/order-foto/Img.jpg");
  
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: auto;
  
  }
  .order__list {
    height: 600px;
    display: flex;
    flex-direction: column;
  }
  
  .order__item {
    display: flex;
    justify-content: center;
  }
  

  
