.portfolio-categori{
    margin-top: 94px;
    margin-bottom: 50px;

    &__list{
      display: flex;
      justify-content: center;
    }
    
    &__item:not(:last-child){
      margin-right: 8px;
    }
  }
  



  
