.portfolio-picture{
    display: flex;
    justify-content: center;

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      min-width: 1170px;
    }
  }
