.section{
    &-mobile-menu{
        display: block;
        position: relative;
            
        & .section-mobile-menu__btn-exit{
            display: flex;
            position:absolute;
            right: 25.83px;
            top: 27.5px; 
            padding: 0; 
            width: 11px;
            height: 11px;
            
            align-items: center;
            justify-content:center;                
        }
    } 

    &__heading {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.178;  
        text-align: center;
        letter-spacing: 0.03em;

        margin-bottom: 30px;
    }

    &-header{        
        border-bottom: 1px solid #ECECEC;
        padding: 16px 0; 
    }

    &-mobile-menu{
        display: block;
        padding-top: 48px;
        padding-bottom: 48px;
        position: relative;           
    }

    &-mobile-menu__btn-exit {

      margin-left: auto;
      margin-right: auto;
    
      align-items: center;
      text-align: center;  
    }


    &-order{
        margin-left: auto;
        margin-right: auto;
        padding-top: 118px;
        padding-bottom: 198px;
        text-align: center;        
        
        &__btn {
            margin-top: 30px;
        }
    }

    &-what-we-do{
        display: none;
    }


    &-team{
    &--backgroud-color{
        background-color: var(--color-backdroud-second);
    }
    }

    &-team,
    &-portfolio,
    &-what-we-do,
    &-customers{
        padding-top: 60px;
        padding-bottom: 60px;      
    }

    &-modal{
        padding: 40px;
    }

    &-footer{
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    }

    &-discription{
        padding-bottom: 60px;
            
    }

}



@media screen and (min-width:768px) {
    .section{

        &-mobile-menu{
            display: none;
        }

       
        &-header{
            padding-top: 21px;
            padding-bottom: 21px;  
        }

        &-discription{
            padding-top: 60px;
            padding-bottom: 45px; 
        }


    }
}

@media screen and (min-width:1200px) {
    .section{
        &-order{
            height: 100%;
            padding-top: 200px;
            padding-bottom: 200px;
            max-width: 1600px;
        }

        &-header{
            padding-top: 24px;
            padding-bottom: 25px;  
        }

        &-discription{
            padding-top: 94px;
            padding-bottom: 0;
            //  outline: 2px dashed rgb(37, 190, 37);         
        }

        &-what-we-do{
            display: block;
        }

        &__heading{
            font-size: 36px;
            line-height: 1.166;
            margin-bottom: 50px;
        }

        &-team,
        &-portfolio,
        &-what-we-do,
        &-customers{
            padding-top: 94px;
            padding-bottom: 94px;
        }
    }
}