.discription {
    display: block;
    padding-top: 60px;
    padding-bottom: 30px;

    &__item:not(:last-child){
        margin-bottom: 30px;
    }

    &__icon{
        width: 100%;
        margin-bottom: 30px;
        background: #F5F4FA;
        border-radius: 4px;
      }
    
    &__title {
        margin-bottom: 10px;
        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
    }
    
    &__icon{
   
    }

    &__text {
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        display: block;
        
        &--color-grey{
            color: var(--second-color);
        }
    }
}


@media screen and (min-width:768px) and (max-width: 1199px) {
    .discription {        
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 0;
        
        &__item{
            flex-basis: calc((100% - 30px) / 2);
        }

        &__icon{
            width: 100%;
            background: #F5F4FA;
            border-radius: 4px;
        }
    }    
}

@media screen and (min-width:1200px) {
    .discription {
        display: flex;
        &__icon{
            max-width: 270px;
            width: 100%;
        }

        &__item--margin-right:not(:last-child){
            margin-right: 30px;
        }
        
    }
}