.footer-address{  
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__item:last-child{
    margin-bottom: 60px;
  }

  &__item{
    min-width: 264px;
  }

  &__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--main-color);
  
    transition-property: color;
    transition-duration: 500ms;
    transition-duration: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
    cursor: pointer;
    color: var(--color-blue);
  }

  &--white{
    color:var(--color-white);
  }
  &--underline{
    text-decoration: underline;
  }
  }
}

  

