.footer-social__icon{
    width: 20px;
    height: 20px;
  }
  
  .footer-social{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 70px;
  }
  
  
  
  .footer-social__item:not(:last-child){
    margin-right: 10px;
  }
  
  .footer-social__link{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    fill: var(--color-white); 
    
    transition: background-color 250ms;
  }
  
  .footer-social__link:hover,
  .footer-social__link:focus{
    background-color: var(--color-blue);
   }
  