.footrt-address-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footrt-address-item:last-child{
    margin-bottom: 60px;
  }

  .footer-address-link {

    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--main-color);
  
    transition-property: color;
    transition-duration: 500ms;
    transition-duration: cubic-bezier(0.4, 0, 0.2, 1)
  }
  
  .footer-adres{
    color:var(--color-white);
    
  }
  
  .footrt-address-item{
    min-width: 264px;
  }
  .footer-address-link[href^="mail"] {
    text-decoration: underline;
  }
  
  .footer-address-link:hover,
.footer-address-link:focus{
  cursor: pointer;
  color: var(--color-blue);
}
