
.header-address{
    margin-left: auto;
    padding-left: 93px;
    margin-right: 12px;

    &__link {
    min-width: 110px;
    display: flex;
    align-items: center; 
    }

    &__item:first-child {
    margin-right: 50px;  
    }
    &__list{
        display: flex;
    }
}