//  =============== index ==============
.footer-title__icon{
    margin-bottom: 20px;
    height: 16px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--color-white);
  }

  .footer-newsletter h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 20px;
}

.discription-card__title {
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
  
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--color-black);
  }

  .order__title {
    width: 696px;
    height: 120px;
    margin-top: 200px;
    margin-bottom: 30px;
  
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
  }

//   ================== portfolio ===============

.portfolio-picture{
    &__title {
      border-top: 1px solid #eeeeee;
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      padding-left: 24px;
      padding-top: 20px;
    
      color: var(--color-black);
    }
    }