.link {
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em; 
    
    &--style-underline{
    text-decoration: underline;    
  }
  &--font-size{

    &-medium{
      font-size: 18px;
      line-height: 1.222;
    }

    &-xm{
      font-size: 24px;
      line-height: 1.166;
    }

    &-big{
      font-size: 34px;
      line-height: 1.176;
    }
    
    &-junbo{
      font-size: 40px;
      line-height: 1.175;
    }
  }
    
  
  &--action-color-blue:hover,
  &--action-color-blue:focus{
    color: var(--color-blue);
  }
  

  &--color{      
    &-beige{
    color: #ffffff60;
    }

    &-grey{
      color: var(--second-color);
    }
    
    &-black{
      color: var(--main-color);
    }
    
    &-white{
      color: var(--color-white)
    }

    
    &-blue{
    color: var(--color-blue)
    }    
  }
  
}

// @media screen and (min-width:480px) and (max-width: 767px) {

    
// }

@media screen and (min-width:768px) and (max-width: 1199px) {
  .link--font-smal {
    font-size: 12px;
    line-height: 1.166;
  } 
    
}

// @media screen and (min-width:1200px) {


// }