
.logo {
    font-family: 'Raleway';
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
}

.logo__span {
    color: var(--color-blue);
}

.logo--light {
    color: var(--color-white)
}

.logo--black{
    color: var(--color-black);
}

.logo--right {
    padding-right: 93px;
}  

.logo--position {
    display: flex;
    padding-top: 60px;
    margin-bottom: 20px;
}