.section-order{  
    &__title {
        min-width: 465px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.615;        
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--color-white);
        
        &--position-center{
            margin-left: auto;
            margin-right: auto;
        }
    }

    &--background{

        &-anthracite{
            background-color: var(--color-background);
        }
        
        &-photo{
            display: block;
            background-image: $orders-bg-overlay, $orders-bg-photo;

            @include retina{
                background-image: $orders-bg-overlay, $orders-bg-photo-2x;       
            }

            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;

            
        }
    }
}

@media screen and (min-width:768px) and (max-width: 1199px) {
    .section-order--background-photo{        
        background-image: $orders-bg-overlay, $orders-bg-tablet;

        @include retina {
            background-image: $orders-bg-overlay, $orders-bg-tablet-2x;       
        }
    }
    
}

  @media screen and (min-width:1200px) {
    .section-order{    
        &__title {
            max-width: 696px;           
            font-size: 44px;
            line-height: 1.363;
        }

        &--background-photo{            
            background-image: $orders-bg-overlay, $orders-bg;
            
            @include retina {
                background-image: $orders-bg-overlay, $orders-bg-2x;       
            }            
        }
    }
  }