.portfolio-picture{

  &__items{
    flex-basis: auto;
    border: 1px solid #eeeeee;
    margin-top: 30px;
    max-width: 370px;
  
    transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms, backgroud cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  
  &__items:hover &__overlay{
    transform: translatey(0);
  }
  &__items:hover,
  &__items:focus{
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }
    &__box{
      position:relative;
      overflow: hidden;
    }

    &__box &__overlay{
      transition-property: transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 49px 45px 49px 24px;
    
      transform: translatey(100%);
      transition: transform 250ms ease;
    
      background: rgba(33, 150, 243, 0.9);
    }
    
    &__overlay > p{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.555;
      letter-spacing: 0.03em;
    
      color: #FFFFFF;
    }
    

    &__name{
      font-weight: 400;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: 0.03em;
      padding-left: 24px;
      margin-top: 4px;
      margin-bottom: 20px;
      color: var(--text-color-grey)
    }
  
}



  
  
  

  

  
  

  

  
