.what-we-do {
  display: flex;
  justify-content: space-between;
  
  &__item:not(:last-child){
      margin-right: 30px;
    }
    
    &__item{
        position: relative;
    }
    
    &__item > &__lable{
        position: absolute;
        bottom: 0;
        right: 0;
        padding-top: 27px;
        padding-bottom: 27px;
        width: 100%;
        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.142;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    &__lable{
        color: var(--color-white);
        background-color: #2F303A80;
    }
}