body {
    font-family: 'Roboto';
    color: #757575;
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  figure {
    margin: 0;
    padding: 0;
  }
  
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
  
  p,
  figure {
    margin: 0;
  }
  
  img {
    display: block;
  }
  
  
  
  .list {
    list-style-type: none;
  }
  
  .link {
    text-decoration: none;
    font-style: none;
  }
  
  .title {
    margin-bottom: 50px;
  
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-black);
  }
  
