.container {
    width: 1200px;
    padding: 0 15px;
  
    .section-orders & {
      display: flex;
      justify-content: center;
    }
  }

  
  
  .wraper-center {
    display: flex;
    justify-content: center;
  }

  .portfolio-main{
    padding-bottom: 94px;
  }
