.container {
    width: 1200px;
    padding: 0 15px;
  
    .section-orders & {
      display: flex;
      justify-content: center;
    }
  }

  .wraper-center {
    display: flex;
    justify-content: center;
  }

  .portfolio-main{
    padding-bottom: 94px;
  }

  .orders-form__input--wrap{
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .policy--wrap{
    display: flex;
    min-width: 448px;
    padding-top: 20px;
    text-align: center;
  }
