:root {
    --main-font: font-family: 'Roboto', sans-serif;
    --secondery-font: font-family: 'Raleway', sans-serif;
    
    --main-color: #757575;
    --color-black: #212121;
    --color-blue: #2196F3;
    --color-background: #2F303A;
    --color-white: #FFF;
  }